<!--<h1>Widgets Ya'all</h1>-->
<!--<input mdInput placeholder="Description" [(ngModel)]="color" type="text" name="">-->
<!--<a [href]="link">-->
<!--<h2 [style.color]="color">{{color}}</h2>-->
<!--</a>-->
<!--<button type="button" md-button (click)="echo(link)">Holla</button>-->
<div class="container">
  <!-- WIDGETS LIST -->
  <div class="col-50">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h1>Widgets</h1>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <md-list>
          <md-list-item *ngFor="let wid of widgets" (click)="selectwidget(wid)">
            <h3 md-line>
              {{ wid.name }}
            </h3>
            <button md-icon-button>
              <md-icon>close</md-icon>
            </button>
            <p md-line>
              {{ wid.description }}
            </p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>


  <!-- WIDGET DETAILS -->
  <div class="col-50">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h1>
            <span *ngIf="selectedwidgets; else prompto">
              Editing {{ selectedwidgets.name }}
            </span>
            <ng-template #prompto>
              Create
            </ng-template>
          </h1>
        </md-card-title>
      </md-card-header>
      <form>
        <md-card-content>
          <pre>{{ selectedwidgets | json}}</pre>
        </md-card-content>
        <md-card-actions>
          <button type="submit" md-button>Save</button>
          <button type="button" md-button (click)="selectwidget(null)">Cancel</button>
        </md-card-actions>
      </form>
    </md-card>
    <md-card *ngFor="let testwidget of widgets; let i=index">
      <h4> {{ i }}  {{ testwidget.name }} </h4>
    </md-card>
  </div>
</div>
